@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic:700');

@import "./variables";
@import "./utils";

$deco-height: 5px;

$editor-toggle-right: gutter(2);
$editor-toggle-bottom: gutter(2);
$editor-toggle-width: 4.5rem;
$editor-toggle-height: 2.5rem;


*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  width: 100%;
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  text-align: center;
  color: $body-color;
}

input:focus,
button:focus {
  outline: 0 none;
}

@import "./components";
